@media(max-width: 930px) {
    .nav-options{
        font-size: 12px !important;
    }    
}

.eventDate{
    font-size: 14px;
    border: 2px solid #F3F3F3;
}

.bg-grey{
    background: #1F1F1F;
    color: #fff;
}


.inactiveLink{
    color:white !important;
    text-decoration:none;
}

.activeLink{
    color:#65B0F6 !important;
    text-decoration:none;
}

@media(max-width: 870px) {
    .name-heading{
        font-size: 16px;
    }
}

@media(min-width: 768px) {
    .active{
        border-bottom: 2px solid #65B0F6 !important;
    }
    .active:hover{
        background: #404040 !important;
    }
    .inactive:hover{
        background: #404040 !important;
    }
}


@media(max-width: 375px) {
    .name-heading{
        font-size: 14px;
    }
}